h1 {
    font-family: georgia, garamond;
    font-style: italic;
}

h2 {
    font-family: georgia, garamond;
    font-style: italic;
}

p {
    font-family: garamond;
}

body {
    background-color: beige;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    background-image: url('https://i.pinimg.com/originals/05/fc/54/05fc548b9cbe2b5ed13dd4efff14cd80.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.generation-wording {
    font-size: 64px;
}

#main-title{
    font-size: 64px;
}
.paragraph-one{
    border: 2px solid lightgrey;
}
.paragraph-two{
    background-color: lightgrey;
}
