*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-image: url("https://wallpapercave.com/wp/wp5167012.jpg");
    background-size: cover;
}
  
  
