.nav-menu {
    position: sticky;
      top: 0;
      background-color: antiquewhite;
      z-index: 100;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
    }