/*---- Common ----*/
body {
  font-family: 'Karla', sans-serif;
}
/*section .section-title{
  margin-bottom: 64px;
  
}*/
.section {
  margin-bottom: 64px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.section-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
/*---- Menu ----*/
.menu-bar {
  position: sticky;
  top: 0;
  background-color: antiquewhite;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.logo {
  height: 20px;
}
.nav-list {
  display: flex;
}
.nav-item {
  margin-left: 24px;
}

/*---- Hero Section ----*/
.hero-section {
  height: 720px;
  background-image: url('../images/hero-background.jpg'); /* Photo by Nicholas Kampouris on Unsplash */
  background-size: cover;
  background-position: center center;
}

.hero-title {
  padding-top: 128px;
  font-size: 64px;
  font-weight: 600;
}

/*---- Collection Section ----*/
.collection-item {
  padding: 24px;
  border-radius: 8px;
  background-size: cover;
  background-position: 50% 82%;
}

.collection-item-one {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)),
    url('../images/classic-collection.jpg'); /* Photo by NordWood Themes on Unsplash */
}

.collection-item-two {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2)
    ),
    url('../images/sport-collection.jpg'); /* Photo by Tom Radetzki on Unsplash */
}

.collection-item-three {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url('../images/sandal-collection.jpg'); /* Photo by Andy Garza on Unsplash */
}

.collection-item-four {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)),
    url('../images/casual-collection.jpg'); /* Photo by Trendest Studio on Unsplash */
}

.collection-item-title{
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

/*---- Product Section ----*/
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -16px;
  margin-right: -16px;
}
.product-item {
  padding: 0px 16px;
  margin-bottom: 16px;
  width: 30%;
  position: relative;
}
.product-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.product-item-image {
  width: calc(100%);
  height: calc(100%/2);
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 18px;
  object-fit: cover;
}
.product-label{
  position: absolute;
  background-color: #f87060;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
  top: 24px;
  left: -8px;
}
/*.product-item-image-max {
  max-height: 220px;
  border-radius: 18px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
}*/
.price{
  margin-top: 24px;
}
/*---- About Section ----*/
.about-content {
  display: flex;
}
.about-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-image {
  width: 50%;
  height: 320px;
  object-fit: cover;
  margin-right: 24px;
}
